<%- include('header.html') -%>
<style>
    @media screen and (min-width:768px) {
        .live2d{
            display: block;
        }
    }
    @media screen and (max-width: 768px) {
        .live2d{
            display: none;
        }
    }
</style>
<canvas class="live2d" id="live2d" width="150" height="400"></canvas>

<div class="container mt-5 mArticle">
    <h2 class="mb-4">搜索结果（搜索词：<%= data['keyword'] %> ）</h2>
        <div class="card-deck">
            <% data['articles'].forEach(hot=> { %>
                <div class="card">
                    <img src="<%= hot.thumbnail %>" data-src="holder.js/100px200?text=<%=hot.title%>&random=yes"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= hot.title %>
                        </h5>
                        <p class="card-text"><small class="text-muted">
                                <%= hot.time.toLocaleString() %>
                            </small></p>
                        <p class="card-text">
                            <%= hot.content.replace(/<[^>]+>/g, "").substring(0, 100) %>...
                        </p>
                    </div>
                    <div class="card-footer bg-white border-0">
                        <a href="/article/<%= hot.id%>" class="btn btn-primary float-right stretched-link">查看详情</a>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <div class="container mt-5 wArticle">
        <h2 class="mb-4">搜索结果（搜索词：<%= data['keyword'] %> ）</h2>
        <div class="row row-cols-4">
            <% data['articles'].forEach(article => { %>
            <div class="col my-3">
                <div class="card h-100">
                    <img src="<%=article.thumbnail%>" data-src="holder.js/100px150?text=<%=article.title%>&random=yes" class="card-img-top" alt="<%=article.title%> ">
                    <div class="card-body">
                        <h5 class="card-title"><%= article.title %></h5>
                        <p class="card-text"><small class="text-muted"><%= article.time.toLocaleString() %></small></p>
                        <p class="card-text"><%= article.content.replace(/<[^>]+>/g, "").substring(0, 100) %>...</p>
                        <a href="/article/<%= article.id %>" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>

    <%- include('footer.html') -%>